extends ../layout/main

block title
	| Santa's Mail

block content
	include ../modules/header
	
	//- MAIN
	main.page-main
		include ../sections/intro
		include ../sections/descr	
		include ../sections/action	
		include ../sections/features	
		include ../sections/letter	
		include ../sections/order
	
	//- POPUP
	include ../modules/popup
	