section.page-main__item.action
	.action__wrapper
		h2.action__title Акция Iphone 7 в подарок!
		p.action__descr
			| Станьте участником розыгрыша iPhone 6 в этом году!
		ul.action__items
			li.action__item
				| поделитесь ссылкой на сайт в любой из социальных сетей, просто
				| нажав на одну из кнопок;
			li.action__item
				| укажатие ссылку Вашего поста в социальной сети, указав ее в форме
				| заказа ниже.
		.action__social.social
	.action__snow
