section.page-main__item.description
	.description__wrapper
		h2.description__title
			| Лучший
			br
			|  сюрприз Вашему
			br
			|  ребенку!
		figure.description__img
			picture
				source(media="(min-width: 1280px)" srcset="img/letters-1280.jpg")
				source(media="(min-width: 960px)" srcset="img/letters-960.jpg")
				img(src="img/letters-320.jpg" width="300" height="336" alt="Письма от Деда Мороза")
		.description__text
			p.description__descr.description__descr--accent
				| Письмо от Деда Мороза – вызовет бурю эмоций у Вашего малыша!
			p.description__descr
				| Дети ждут праздника с замиранием сердца, с ощущением, что вот-вот
				| должно произойти чудо. С нашей Почтой Деда Мороза, эти чудеса возможны!
				| Вы, как любящий своего малыша родитель может подарить ему удивительный
				| праздник, незабываемый Новый год, когда исполняются детские мечты!
			p.description__descr
				| Подарите своему ребенку кусочек волшебства! Подарите персональное
				| поздравительное письмо от Деда Мороза!
