section.page-main__item.features
	.features__wrapper
		h2.features__title 7 причин заказать письмо у нас
		figure.features__img
			img(src="img/envelope.png" width="466" height="658" alt="Письмо от Деда Мороза")
		ul.features__items.features__items--first
			li.features__item
				| Дед Мороз обращается лично по имени к Вашему ребенку!
			li.features__item
				| Яркий праздничный дизайн
			li.features__item
				| Качественная полиграфическая бумага
			li.features__item
				| Сочная синяя печать «Почты Деда Мороза»
		ul.features__items.features__items--last
			li.features__item
				| Уникальный текст писем на выбор
			li.features__item
				| Красочный новогодний конверт с Дедом Морозом и Снегурочкой!
			li.features__item
				| И личная подпись самого дедушки Мороза!
