main.page-main
   section.page-main__item.intro
        .intro__wrapper
            h1.intro__title
                | Настоящее письмо
                span.intro__title-accent
                    | от Деда
                    br
                    |  Мороза
            .intro__action
                a.intro__btn.btn.btn--primary(href="#order") Заказать письмо
                span.intro__price от 290 руб.