section.page-main__item.letter
	.letter__wrapper
		h2.letter__title Не получили письмо? Напишите нам!
		p.letter__descr
			| Если Вы не получите письмо 
			strong.letter__warn до 21 декабря
			| ,
			|             а заказ был оформлен 
			strong.letter__warn не позже 10 декабря
			| ,
			|             не волнуйтесь. Просто напишите нам об этом, и мы отправим письмо еще раз
			|             совершенно бесплатно!
		p.letter__descr
			strong.letter__warn
				| Ни один ребенок не останется без сюрприза!
		p.letter__descr
			| Наш email: 
			a.letter__link(href="mailto:moroz@pochtamoroza.ru")
				| moroz@pochtamoroza.ru
