section.page-main__item.features.features--inner.features--post
	.features__wrapper
		h2.features__title Мой кабинет
		section.post
			.post__item.post__item--send
				.post__main
					p.post__head
						span.post__avatar.post__avatar--girl
						|                   Письмо № 12546
						span.post__date
							| от 12.11.17
					.post__items
						table.post__info
							tr.post__info-item
								td.post__field
									| Имя ребенка
								td.post__value
									| Маша
							tr.post__info-item
								td.post__field
									| ФИО ребёнка
								td.post__value
									| Ивановой Маше
							tr.post__info-item
								td.post__field
									| Ваше имя
								td.post__value
									| Екатерина Иванова
							tr.post__info-item
								td.post__field
									| Полный адрес
								td.post__value
									| 135999, Москва, ул. Ленина, д.10, кв.5
							tr.post__info-item
								td.post__field
									| Email
								td.post__value
									| ekaterinaiv@mail.ru
							tr.post__info-item
								td.post__field
									| Вид письма
								td.post__value
									| Обычное
							tr.post__info-item
								td.post__field
									| Ссылка на пост
								td.post__value
									a.post__link(href="#")
										| https://vk.com/feed
							tr.post__info-item
								td.post__field
									| Доставка
								td.post__value
									| 0 руб.
							tr.post__info-item
								td.post__field
									| Стоимость
									br
									| письма
								td.post__value
									| 290 руб.
					.post__status
						p.post__state
							| Письмо отправлено
						p.post__descr
							| Отследите где письмо,
							| вы можете по ссылке
						a.post__status-link(href="https://www.pochta.ru/tracking")
							| https://www.pochta.ru/tracking
				figure.post__img.image-popup-zoom(data-mfp-src="img/post-img-1280.jpg")
					img(src="img/post-img.jpg" width="300" height="426" alt="Письмо")
					figcaption.post__caption
						| Шаблон 1
			.post__item.post__item--pay
				.post__main
					p.post__head
						span.post__avatar.post__avatar--girl
						|                   Письмо № 12546
						span.post__date
							| от 12.11.17
					.post__items
						table.post__info
							tr.post__info-item
								td.post__field
									| Имя ребенка
								td.post__value
									| Маша
							tr.post__info-item
								td.post__field
									| ФИО ребёнка
								td.post__value
									| Ивановой Маше
							tr.post__info-item
								td.post__field
									| Ваше имя
								td.post__value
									| Екатерина Иванова
							tr.post__info-item
								td.post__field
									| Полный адрес
								td.post__value
									| 135999, Москва, ул. Ленина, д.10, кв.5
							tr.post__info-item
								td.post__field
									| Email
								td.post__value
									| ekaterinaiv@mail.ru
							tr.post__info-item
								td.post__field
									| Вид письма
								td.post__value
									| Обычное
							tr.post__info-item
								td.post__field
									| Ссылка на пост
								td.post__value
									a.post__link(href="#")
										| https://vk.com/feed
							tr.post__info-item
								td.post__field
									| Доставка
								td.post__value
									| 0 руб.
							tr.post__info-item
								td.post__field
									| Стоимость
									br
									| письма
								td.post__value
									| 290 руб.
					.post__status
						p.post__state
							| Ожидает оплаты
						p.post__descr
							| Заказ будет отправлен в печать после оплаты
						a.post__btn.btn.btn--primary(href="#") Оплатить 290 руб.
				figure.post__img.image-popup-zoom(data-mfp-src="img/post-img-1280.jpg")
					img(src="img/post-img.jpg" width="300" height="426" alt="Письмо")
					figcaption.post__caption
						| Шаблон 1
			.post__item.post__item--print
				.post__main
					p.post__head
						span.post__avatar.post__avatar--girl
						|                   Письмо № 12546
						span.post__date
							| от 12.11.17
					.post__items
						table.post__info
							tr.post__info-item
								td.post__field
									| Имя ребенка
								td.post__value
									| Маша
							tr.post__info-item
								td.post__field
									| ФИО ребёнка
								td.post__value
									| Ивановой Маше
							tr.post__info-item
								td.post__field
									| Ваше имя
								td.post__value
									| Екатерина Иванова
							tr.post__info-item
								td.post__field
									| Полный адрес
								td.post__value
									| 135999, Москва, ул. Ленина, д.10, кв.5
							tr.post__info-item
								td.post__field
									| Email
								td.post__value
									| ekaterinaiv@mail.ru
							tr.post__info-item
								td.post__field
									| Вид письма
								td.post__value
									| Обычное
							tr.post__info-item
								td.post__field
									| Ссылка на пост
								td.post__value
									a.post__link(href="#")
										| https://vk.com/feed
							tr.post__info-item
								td.post__field
									| Доставка
								td.post__value
									| 0 руб.
							tr.post__info-item
								td.post__field
									| Стоимость
									br
									| письма
								td.post__value
									| 290 руб.
					.post__status
						p.post__state
							| Письмо в печати
						p.post__mark Заказ оплачен
				figure.post__img.image-popup-zoom(data-mfp-src="img/post-img-1280.jpg")
					img(src="img/post-img.jpg" width="300" height="426" alt="Письмо")
					figcaption.post__caption
						| Шаблон 1
			.post__item.post__item--recd
				.post__main
					p.post__head
						span.post__avatar.post__avatar--girl
						|                   Письмо № 12546
						span.post__date
							| от 12.11.17
					.post__items
						table.post__info
							tr.post__info-item
								td.post__field
									| Имя ребенка
								td.post__value
									| Маша
							tr.post__info-item
								td.post__field
									| ФИО ребёнка
								td.post__value
									| Ивановой Маше
							tr.post__info-item
								td.post__field
									| Ваше имя
								td.post__value
									| Екатерина Иванова
							tr.post__info-item
								td.post__field
									| Полный адрес
								td.post__value
									| 135999, Москва, ул. Ленина, д.10, кв.5
							tr.post__info-item
								td.post__field
									| Email
								td.post__value
									| ekaterinaiv@mail.ru
							tr.post__info-item
								td.post__field
									| Вид письма
								td.post__value
									| Обычное
							tr.post__info-item
								td.post__field
									| Ссылка на пост
								td.post__value
									a.post__link(href="#")
										| https://vk.com/feed
							tr.post__info-item
								td.post__field
									| Доставка
								td.post__value
									| 0 руб.
							tr.post__info-item
								td.post__field
									| Стоимость
									br
									| письма
								td.post__value
									| 290 руб.
					.post__status
						p.post__state
							| Письмо получено
						p.post__mark Заказ оплачен
				figure.post__img.image-popup-zoom(data-mfp-src="img/post-img-1280.jpg")
					img(src="img/post-img.jpg" width="300" height="426" alt="Письмо")
					figcaption.post__caption
						| Шаблон 1
			.post__item.post__item--cancel
				.post__main
					p.post__head
						span.post__avatar.post__avatar--girl
						|                   Письмо № 12546
						span.post__date
							| от 12.11.17
					.post__items
						table.post__info
							tr.post__info-item
								td.post__field
									| Имя ребенка
								td.post__value
									| Маша
							tr.post__info-item
								td.post__field
									| ФИО ребёнка
								td.post__value
									| Ивановой Маше
							tr.post__info-item
								td.post__field
									| Ваше имя
								td.post__value
									| Екатерина Иванова
							tr.post__info-item
								td.post__field
									| Полный адрес
								td.post__value
									| 135999, Москва, ул. Ленина, д.10, кв.5
							tr.post__info-item
								td.post__field
									| Email
								td.post__value
									| ekaterinaiv@mail.ru
							tr.post__info-item
								td.post__field
									| Вид письма
								td.post__value
									| Обычное
							tr.post__info-item
								td.post__field
									| Ссылка на пост
								td.post__value
									a.post__link(href="#")
										| https://vk.com/feed
							tr.post__info-item
								td.post__field
									| Доставка
								td.post__value
									| 0 руб.
							tr.post__info-item
								td.post__field
									| Стоимость
									br
									| письма
								td.post__value
									| 290 руб.
					.post__status
						p.post__state
							| Заказ отменен
						p.post__mark Заказ неоплачен
				figure.post__img.image-popup-zoom(data-mfp-src="img/post-img-1280.jpg")
					img(src="img/post-img.jpg" width="300" height="426" alt="Письмо")
					figcaption.post__caption
						| Шаблон 1
