footer.page-footer
	.page-footer__wrapper
		p.page-footer__descr
			| © 2017, ПочтаМороза.ру
		p.page-footer__descr
			| moroz@pochtamoroza.ru
		p.page-footer__descr
			| г.Москва, ул. Медовый переулок, д. 5, стр.1
