header.page-header
			.page-header__wrapper
				nav.page-header__nav.nav.nav--closed.nav--nojs
					button.nav__toggle.btn.btn--nav(type="button") Меню
					.nav__wrapper
						ul.nav__list
							li.nav__item
								a.nav__link(href="#order") Заказать письмо
							li.nav__item
								a.nav__link(href="payment.html") Оплата
							li.nav__item
								a.nav__link(href="delivery.html") Доставка
							li.nav__item
								a.nav__link(href="desire.html") Загадать желание
							li.nav__item
								a.nav__link(href="contacts.html") Контакты
				a.page-header__logo
					img(src="img/logo.png" width="154" height="32" alt="Почта Мороза")
				ul.page-header__user
					li.page-header__user-item
						a.page-header__user-link.btn(href="user.html") Личный кабинет
